.article {
    border: white solid 3px;
    font-family: bitter;
    font-size: 16px;
    color: #336;
    
    :first-child{
        width: 200px;
    }
    img{width: 200px;}
    background-color: ghostwhite;

      h3{}
  }
  
  .left {
    margin-left: 50px;
    display: inline-block;
  }
  
  .bitter{
  
  }