.article {
  display: flex;
  background-color: ghostwhite;
}
.article img {
  width: 200px;
}
.left {
  margin-left: 50px;
  display: inline-block;
}
.article p {
  font-size: x-large;
  font-family: monospace;
  color: rebeccapurple;
}
